* {
        margin:0; 
        padding:0;
    }

    nav {
        margin:auto;
        width: 100%;
        font-family: arial;
    } 

    nav ul {
        background:#99923e;
        padding: 0 0;
        list-style: none;
        position: relative;
        display: inline-table;
        width: 100%;
     }

    nav ul li{
        float:left;
    }

    nav ul li:hover{
        background:#d68d9a;
    }

    nav ul li:hover a{
        color:#000;
    }

    nav ul li a{
        display: block;
        padding: 25px;
        color: #fff;
        text-decoration: none;
    }

body{
background: #BAD6FF;
background: -moz-radial-gradient(center, #BAD6FF 0%, #B2BFEB 50%, #2692DB 100%);
background: -webkit-radial-gradient(center, #BAD6FF 0%, #B2BFEB 50%, #2692DB 100%);
background: radial-gradient(ellipse at center, #BAD6FF 0%, #B2BFEB 50%, #2692DB 100%);
}
.baground{
  background: #502C2C;
background: -moz-linear-gradient(left, #502C2C 0%, #AE4371 50%, #160A5F 100%);
background: -webkit-linear-gradient(left, #502C2C 0%, #AE4371 50%, #160A5F 100%);
background: linear-gradient(to right, #502C2C 0%, #AE4371 50%, #160A5F 100%);
  color : white;
}
.kotakawal{
    margin : 0;
    padding: 0;
    font-weight: 900;
    width: 900px auto;
    border-radius: 40px;
    font-family: bodoni mt;
  background-image: linear-gradient(#13138F, transparent);
    box-shadow: 9 9 90px
}
.teksawal{
  text-align: center;
  font-size: 50px;
  color : white;
}
p{
  font-family: Georgia, serif;
font-size: 16px;
letter-spacing: 2px;
word-spacing: -1.2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
  background-image: linear-gradient(red, yellow);
  padding : 300px;
  margin : 10px;
  -webkit-box-shadow: 1px -1px 22px 1px rgba(0,0,0,0.89); 
box-shadow: 1px -1px 22px 1px rgba(0,0,0,0.89);
  border: 20px ridge rgba(28,110,164,0.47);
}
footer{
 padding: 25px; 
}